<!doctype html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flying Pink Panther</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" async defer></script>
</head>
<body>
<div class="container">
<input type="button" class="button-53" id="button-pink-panther" value="Zatrzymaj animację!"/>

</div>
<div class="container"><input type="button" class="button-53" id="button-two" value="Pogadaj z kotem!"/></div>

<div class="pink-panther"><img src="{% static 'images/pink_panther.gif' %}" alt="Panther"/></div>


</body>
</html>